<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Works
      </h1>
      <p>The works</p>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <!--<a [routerLink]="['/Artist', {id: selectedArtist}]">link</a>-->
    <div class="col-lg-4 col-sm-6 text-center" *ngFor="#work of works">
      <a [routerLink]="['/Work', {id: work.artist_id + '-'+ work.name}]">
      <img style="max-width:200px" class="img-responsive img-center" src="{{work.mainFile}}" alt="{{work.name}}">
    </a>
      <h3>{{work.artist_fname}} {{work.artist_lname}}
        <small>{{work.media}}</small>
      </h3>
    </div>
  </div>
</div>
