<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">ArtLike
        <small>Meet the Artists</small>
      </h1>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">

    <!--<a [routerLink]="['/Artist', {id: selectedArtist}]">link</a>-->
    <div class="col-sm-4" *ngFor="#artist of artists" (click)="onSelect(artist)">
      <img class="img-circle img-responsive img-center" src="{{artist.profilePic}}" alt="{{artist.lastName}}">
      <h3>{{artist.firstName}} {{artist.lastName}}
        <small>{{artist.locationCity}}</small>
      </h3>
      <p>Main Media: {{artist.media}}</p>
    </div>
  </div>
</div>
