<style>
  .jumbotron {
    background-size: cover;
  }

  p {
    display: inline;
    font-size: 150%;
  }
</style>
<div class="jumbotron">
  <div class="container text-center">
    <h1>  <span class="glyphicon glyphicon-edit"></span>ArtLike <small>no matter why you like it.</small></h1>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <a id="artButton" [routerLink]="['/Artists']">
      <button type="button" class="btn btn-success btn-lg">Take me to the art people</button>
    </a>
    <a id="workButton" [routerLink]="['/Works']">
      <button type="button" class="btn btn-primary btn-lg">Lets see some art</button>
    </a>
    <a id="searchButton" [routerLink]="['/ArtSearch']">
      <button type="button" class="btn btn-warning btn-lg">Help me find some art</button>
    </a>
    <a id="galleryButton" [routerLink]="['/GalleryCreate']">
      <button type="button" class="btn btn-info btn-lg">Create my gallery</button>
    </a>
  </div>
</div>
