<div *ngIf='user' class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h1>Welcome
        {{user.firstName}}</h1>
      <br>
      <div>You have
        {{numWorks}}
        works and
        {{numGals}}
        Galleries on ArtLike.</div>
      <br>
      Please click on a work to edit work information and on the profile picture to edit profile information
    </div>
    <div class="col-sm-4 text-center">
      <img (click)="editProfile($event.target)" style="max-height:150px" class="img-thumbnail center-block" src={{user.profilePic}} alt={{user.firstName}}>
    </div>
  </div>
  <hr>
  <div *ngIf='displayWorks'>
  <div *ngIf="noEdit" class = "panel-group" id="artworks">
      <h2>Works</h2>
    <div *ngFor="let work of works; let i = index">
      <div *ngIf="work">
        <div class ="panel panel-default">
            <div class="panel-heading">
                <h4 class ="panel-title">
                <a data-toggle="collapse" data-parent="#artworks" href="#art{{i}}">{{work.name}}</a>
                </h4>
            </div>
            <div id="art{{i}}" class="panel-collapse collapse">
                <div class="panel-body">
                <div style="height:300px" class="col-sm-5 text-center">
                  <img (click)="edit($event.target)" style="max-height:250px" class="img-thumbnail center-block" src={{work.mainFile}} alt={{work.name}}>
                  <h4>{{work.name}}</h4>
                </div>
                <div class="col-sm-5 text-center">
                  <table class="table">
                    <tr>
                      <td>Price</td>
                      <td>{{work.price}}</td>
                    </tr>
                    <tr>
                      <td>Media</td>
                      <td>{{work.media}}</td>
                    </tr>
                    <tr>
                      <td>Length</td>
                      <td>{{work.length}}</td>
                    </tr>
                    <tr>
                      <td>Depth</td>
                      <td>{{work.depth}}</td>
                    </tr>
                    <tr>
                      <td>Width</td>
                      <td>{{work.width}}</td>
                    </tr>
                  </table>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
    
<div *ngIf='displayGalleries'>
  <div *ngIf="noEdit" class = "panel-group" id="galleries">
      <h2>Galleries</h2>
    <div *ngFor="let gal of galleries; let i = index">
      <div *ngIf="gal">
        <div class ="panel panel-default">
            <div class="panel-heading">
                <h4 class ="panel-title">
                <a data-toggle="collapse" data-parent="#galleries" href="#gal{{i}}">{{gal.name}}</a>
                </h4>
            </div>
            <div id="gal{{i}}" class="panel-collapse collapse">
            <div class="panel-body">
                sup
            </div>
        </div>
      </div>
    </div>
    </div>
  
  
  <div *ngIf="work">
    {{work.name}}
    <new-work [work]="work" [user]='user' [_newWork]='false' (doneEvent)="handleDoneEvent($event)"></new-work>
  </div>
  <div *ngIf="editUser">
    <new-user [user]='user' [_newUser]='false' (doneEvent)="handleDoneEvent($event)"></new-user>
  </div>
</div>
