<div *ngIf="artist">
  <div *ngIf="work">
    <div class="container">

      <!-- Portfolio Item Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">{{work.name}}
            <small>{{artist.firstName}} {{artist.lastName}}</small>
          </h1>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-6">
          <img style="max-width:400px" class="img-responsive" src={{work.mainFile}} alt="">
        </div>

        <div class="col-md-4">
          <h3>Description</h3>
          <p>{{work.description}}</p>
          <h4>Price</h4>
          <p>${{work.price}}</p>
          <h5>Dimensions:</h5>
          <p>Length: {{work.length}}</p>
          <p>Width: {{work.width}}</p>
          <p>Depth: {{work.depth}}</p>
        </div>

        <button *ngIf="numFiles>1" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" (click)="initGal()">
          Gallery
        </button>
        <!-- Modal -->
        <div *ngIf="selectedFile">
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Gallery</h4>
                </div>
                <div class="modal-body">
                  <img style="max-height:400px" class="img-responsive center-block" src={{selectedFile}} alt="">
                </div>

                <div class="modal-footer">
                  <div class = "row text-center">
                  <button type="button" class="btn btn-lg btn-info" (click)="previous()"><span class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                  <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-lg btn-info" (click)="next()">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <!-- /.row -->
    </div>
  </div>
</div>
